[Unit]
Description=MooMoo Reborn

[Service]
ExecStart=/root/server/start.sh
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/root/server

[Install]
WantedBy=multi-user.target